# Ignore all .env files
*.env

# Ignore folders (must include trailing slash)
Resources/
documents/
venv/

# Ignore specific files
Test.ipynb
text_chunks_and_embeddings_df.csv

# Ignore folders created by the RAG Pipeline
chroma_db_problm/
rag_documents/